### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [10]:
import re

def replace_(text):
    
    pattern = r'[\s\W.*]'
    
    matches = re.sub(pattern,':',text)
    
    return matches


    print(matches)

string = 'Python Exercises, PHP exercises.'

result = replace_(string)

print(result)

Python:Exercises::PHP:exercises:

In [11]:
# example 2
str1 = 'i,am,goin.to Somewhere,sometime'
res_ = replace_(str1)

print(res_)

i:am:goin:to:Somewhere:sometime

### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

### 1st method

In [12]:
import pandas as pd
import re

dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dictionary)

df['SUMMARY']
pattern = r'[\WX\d]+'
mat = df['SUMMARY'].str.replace(pattern,' ',case=None,flags=0,regex=True)
print(mat)

0       hello world
1               test
2     four five six
Name: SUMMARY, dtype: object

### 2nd method

In [14]:
 dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dictionary)

df['SUMMARY']
pattern = r'[!,;:\.X\d]+'
mat = df['SUMMARY'].str.replace(pattern,'',case=None,flags=0,regex=True)
print(mat)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [15]:

def find_words(text):
    pattern = r'(\w{4})'
    com_pat = re.compile(pattern)
    match = com_pat.findall(text)
    return match
match = find_words
print(match)

<function find_words at 0x126bfbac0>

### Example 1

In [16]:
text = 'fskdjiwe 23ismd9mn ndjm zxu xyza 2345 sdjfjeh!!!'

res_ = find_words(text)

print(res_)

['fskd', 'jiwe', '23is', 'md9m', 'ndjm', 'xyza', '2345', 'sdjf']

### Example 2

In [17]:
str_2 = 'this is most famous technique.This is default and only technique used across in all models'

res_1 = find_words(str_2)

print(res_1)

['this', 'most', 'famo', 'tech', 'niqu', 'This', 'defa', 'only', 'tech', 'niqu', 'used', 'acro', 'mode']

### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [18]:
def find_words1(text1):
    
    pattern_1 = r'\w{3,5}'
    
    com_pat1 = re.compile(pattern_1)
    
    match_1 = com_pat1.findall(text1)
    
    return match_1

mat_1 = find_words1

print(mat_1)

text = 'Its a Supervised machine learning model or algorithm.It can be used for classification and regression purposes '
 
res_2 = find_words1(text)

print(res_2)

<function find_words1 at 0x126bfbd00>
['Its', 'Super', 'vised', 'machi', 'learn', 'ing', 'model', 'algor', 'ithm', 'can', 'used', 'for', 'class', 'ifica', 'tion', 'and', 'regre', 'ssion', 'purpo', 'ses']

### Examples 2

In [19]:
text_2 = 'Visualisation depends on person to person, how each person sees the graph. One might say there is a relationship Between features and other might not see any relationship'

res_3 = find_words1(text_2)

print(res_3)

['Visua', 'lisat', 'ion', 'depen', 'perso', 'perso', 'how', 'each', 'perso', 'sees', 'the', 'graph', 'One', 'might', 'say', 'there', 'relat', 'ionsh', 'Betwe', 'featu', 'res', 'and', 'other', 'might', 'not', 'see', 'any', 'relat', 'ionsh']

### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [21]:
def remove(text):

    pattern_ = r'[^\w@\s.]'

    com3 = re.compile(pattern_)

    mat3 = com3.sub('',text)

    return mat3

sample = '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'

res_ = remove(sample)


print(res_)

example .com hr@fliprobo .com github .com Hello Data Science World Data Scientist

### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [22]:
with open('practice _2.rtf') as file:
    text = file.read()

    pattern = r'\(\.*[\w\s]+\)'

    remove_ = re.sub(pattern,'', text)

    print(remove_)

{\rtf1\ansi\ansicpg1252\cocoartf2709
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
{\*\expandedcolortbl;;\cssrgb\c100000\c100000\c100000;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs28 \cf0 \cb2 \expnd0\expndtw0\kerning0
["example ", "hr@fliprobo ", "github ", "Hello ", "Data "] s}

### Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [23]:
import re
stri = 'ImportanceOfRegularExpressionsInPython' 
pat = r'[A-Z][a-z]*'
result = re.findall(pat,stri)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

### Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [24]:
def space(text):

    pat2 = r'([\w+])(\d+)'

    mat_ = re.sub(pat2,r'\1 \2',text)

    return mat_

sam_tex = 'RegularExpression1IsAn2ImportantTopic3InPython'

matches = space(sam_tex)

print(matches)

RegularExpression 1IsAn 2ImportantTopic 3InPython

### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [25]:
def space1(text):

    pat3 = r'([\w+])(\d+)(\w)'
    res = re.sub(pat3,r'\1 \2 \3',text)
    return res
string_ = 'RegularExpression1IsAn2ImportantTopic3InPython'

matches_ = space1(string_)


print(matches_)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [26]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [27]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [28]:
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [29]:
df1['Country'].sample(5)

20     United Kingdom
8         New Zealand
124             Kenya
71          Hong Kong
1             Iceland
Name: Country, dtype: object

In [30]:
patt = r'(\w{6})'
first_five_letters = df1['Country'].str.extract(patt,expand=True)
first_five_letters

          0
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154     NaN
155     NaN
156  Burund
157     NaN

[158 rows x 1 columns]

In [31]:
print(first_five_letters.head())

        0
0  Switze
1  Icelan
2  Denmar
3  Norway
4  Canada

In [33]:
patt = r'(\w{6})'
mat4 = df1['Country'].str.extract(patt,expand=False)
mat4

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154       NaN
155       NaN
156    Burund
157       NaN
Name: Country, Length: 158, dtype: object

### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [34]:
import re

def match_alphanumeric_underscore(string):
   
    pattern = re.compile(r'^[a-zA-Z0-9_]+$')

    if pattern.match(string):
        return True
    else:
        return False


strings_to_match =  'data_science'
print(match_alphanumeric_underscore(strings_to_match))

True

### Question 12- Write a Python program where a string will start with a specific number.

In [35]:
str_y = '2019there was covid pandamic breackout, it lasted till2020. 20dec 2019year'
pat_4 = r'^20\w+'
mat_x = re.findall(pat_4,str_y) 
print(mat_x)

['2019there']

### Question 13- Write a Python program to remove leading zeros from an IP address

In [75]:
def remove_zeros_from_ip(ip_address):
    pattern = re.compile(r'\b0*(\d+)\b')

    cleaned_ip = '.'.join(pattern.sub(r'\1', part) for part in ip_address.split('.'))
    
    return cleaned_ip

test_ip_address = '192.168.01.001'

cleaned_ip = remove_zeros_from_ip(test_ip_address)
print(f'Original IP: {test_ip_address}, All Zero Removed from IP: {cleaned_ip}')

Original IP: 192.168.01.001, All Zero Removed from IP: 192.168.1.1

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date

In [36]:
import re
with open('untiled practice.rtf') as file:
    text = file.read()

    pattern = r'[A-Z][a-z]+\s\d{2}\w{2}\s\d{4}'

    match = re.findall(pattern, text)

    print(match)

['August 15th 1947']

### Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [37]:

def search(sample_text, literals):
    found_literals = []
    for literal in literals:

        pattern = re.compile(literal)

        
        match = pattern.search(sample_text)
        
        if match:
            found_literals.append(literal)
    
    return found_literals

text = 'This is my first python program to identify literal string in sample text'

to_search = ['python', 'string', 'program','not found']

found_literals = search(text, to_search)

print("Results ", found_literals)

Results  ['python', 'string', 'program']

### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [39]:
def find_(text, pattern):
    occurrences = [(match.group(0), match.start()) for match in re.finditer(pattern, text)]
    return occurrences


text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'

substring_occurrences = find_(text, pattern)

for occurrence, position in enumerate(substring_occurrences, 1):
    print(f"Occurrence {occurrence}: '{position[0]}' found at position {position[1]}.")

Occurrence 1: 'fox' found at position 16.

### Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises' Pattern : 'exercises'.

In [61]:
def find(text):
   
        pat1 = r'(exercises)+'
   
        match = re.findall(pat1,text)
        
    
        return (match)

exam_ = 'Python exercises, PHP exercises, C# exercises'

res_x = find(exam_)

print(res_x)

['exercises', 'exercises', 'exercises']

### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [64]:
text = 'dbasdjs dskj3onx S93847DKJ try SDKJ ASPODK 102  try jsdh893 0290 iuds 3847 '
pattern = 'try'

substring_occurrences = find_(text, pattern)

for occurrence, position in enumerate(substring_occurrences, 1):
    print(f"Occurrence {occurrence}: '{position[0]}' found at position {position[1]}.")

Occurrence 1: 'try' found at position 27.
Occurrence 2: 'try' found at position 48.

### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [48]:
def date_format(text):
    
    pattern = r'(\d{4})-(\d{2})-(\d{2})'
    
   
    result = re.sub(pattern,r'\3-\2-\1',text)
    
    return result


text = '2023-10-26'


output_date = date_format(text)

print("Original Date:", text)
print("Converted Date:", output_date)

Original Date: 2023-10-26
Converted Date: 26-10-2023

### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [49]:
def find_decimal_numbers(text):
    
    pattern = r'\b\d+\.\d{1,2}\b'

   
    regex = re.compile(pattern)

   
    matches = regex.findall(text)

    return matches

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"


match = find_decimal_numbers(sample_text)

print(match)

['01.12', '145.8', '3.01', '27.25', '0.25']

### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [50]:
import re

def find_numeric_value(text):
    numbers_found_in_string= re.findall(r'\d+', text)
    if numbers_found_in_string:
        return map(int, numbers_found_in_string)
    else:
        return None


def max_value(numbers):
    return max(numbers)
       
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numbers = find_numeric_value(sample_text)
if numbers is not None:
    max_value = max_value(numbers)
    print("Max Value:", max_value)
else:
    print("No Numeric values in you String.")

Max Value: 950

### Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [51]:
def insert_spaces(text):
    
    pattern = r'(?<=[a-z])([A-Z])'
    
    result = re.sub(pattern, r' \1', text)
    
    return result


text = "RegularExpressionIsAnImportantTopicInPython"

match = insert_spaces(text)

print(match)

Regular Expression Is An Important Topic In Python

In [65]:
#example 2
text = 'ThisIsMostFamousTechniqueThisIsDefaultAndOnlyTechniqueUsedAcrossInAllModels'

res = insert_spaces(text)

print(res)

This Is Most Famous Technique This Is Default And Only Technique Used Across In All Models

### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [53]:
text = 'If Ther are so Many Samples which are Repeated in Test set then model will Produce Better result'

pattern = r'[A-Z][a-z]+'

match = re.findall(pattern,text)

print(match)

['If', 'Ther', 'Many', 'Samples', 'Repeated', 'Test', 'Produce', 'Better']

### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [54]:
def duplicate(text):
    
    pattern = r'\b(\w+)(?=.*\W\1\b)'
    
    
    match = re.sub(pattern,'',text,flags= re. IGNORECASE)

    return match

Text = "Hello hello world world"

result = duplicate(Text)

print(result)

 hello  world

### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [56]:
def alphanumeric(text):
                                                      
    pattern = r'[a-zA-Z0-9]$'
    
    if re.search(pattern, text):
        
        return True
    
    else:
        
        return False


   
    
ex_tex = 'Current year will end on 31st December 2023.New year will start from 1st January2024'

ex_tex1 = 'hello year2024!!!'

result = alphanumeric(ex_tex)

result1 = alphanumeric(ex_tex1)

print(result)
print(result1)

True
False

### Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [57]:
def hashtag(text):
    
    pattern = r'\#\w*'
    
    match = re.findall(pattern,text)
    
    return match

text = ' """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""'

result = hashtag(text)

print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [58]:
def toremove (text):
    
    pattern = r'<U\+[A-Za-z0-9]+>'
    
    match = re.sub(pattern,'',text)
    
    return match

    print(match)
        
text = '@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders'

mat = toremove(text)
print(mat)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

### Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [59]:
with open('text_file.rtf') as file:
    text = file.read()


pattern = r'\d+\-\d+\-\d{4}'

dates = re.findall(pattern, text)


for date in dates:
    print(date)

12-09-1992
15-12-1999

### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [60]:
def length(text):
    
    pattern = r'\b\w{2,4}\b'
    
    regex = re.sub(pattern,'',text)
    
    return regex

    
    
text = 'The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'

ex = length(text)

print(ex)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.