In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.16.0-py3-none-any.whl (10.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 2.1 MB/s eta 0:00:0000:010:01
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Collecting trio~=0.17
  Downloading trio-0.23.1-py3-none-any.whl (448 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 448.3/448.3 kB 1.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.2.0-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=20.1.0 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 8.2 MB/s eta 0:00:00
Installing collected packages: sniffio, outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed exceptiongroup-1.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.16.0 sniffio-1.3.0 trio-0.23.1 trio-websocket-0.11.1 wsproto-1.2.0

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [54]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver = webdriver.Chrome()
driver.get("https://www.shine.com/new/job-search")

job_role = driver.find_element(By.CLASS_NAME, "form-control")
job_role.send_keys('Data Analyst')
location = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')
experience = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[3]/div/input[1]")
experience.send_keys('11')

search_button = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")

search_button.click()

job_title = []
job_location = []
company_name = []
experience_required = []

# scraping Job title from the given page

title_tags=driver.find_elements(By.XPATH, '//div[@class ="jobCard_jobCard__jjUmu  white-box-border jobCard" or @class="jobCard_jobCard__jjUmu active white-box-border jobCard"]/div/h2/a') 
for i in title_tags:
    title=i.text 
    job_title.append(title)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements (By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text 
    experience_required.append(exp)



# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]') 
for i in location_tags:
    location=i.text 
    job_location.append(location)

# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span') 
for i in company_tags:
    company=i.text
    company_name.append (company)

print(len (job_title),len (job_location), len (company_name), len (experience_required))

    
df=pd.DataFrame ({'Job Title':job_title,'Location':job_location, 'Company_name' : company_name, 'Experience': experience_required})
df

20 20 20 20

,Job Title,Location,Company_name,Experience
0,Marketing Data Analyst,Bangalore\n+1,novel group,2 to 6 Yrs
1,Data Analyst Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
2,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
3,Vacancy For Data Analyst,Bangalore\n+13,kavya interprises,0 to 4 Yrs
4,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
6,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
7,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
8,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
10,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
11,Data Analyst - Java/Python BANGALORE,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
12,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
13,hiring for data entry analyst work,Bangalore\n+9,global solutions..,0 to 1 Yr
14,Data analyst,Bangalore\n+9,ok lifecare private limited,1 to 5 Yrs
15,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
16,Big Data Business Analyst,Bangalore\n+1,cynosure corporate solutions..,7 to 12 Yrs
17,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
18,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
19,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [55]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver = webdriver.Chrome()
driver.get("https://www.shine.com/new/job-search")

job_role = driver.find_element(By.CLASS_NAME, "form-control")
job_role.send_keys('Data Scientist')
location = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')
experience = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[3]/div/input[1]")
experience.send_keys('11')

search_button = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")

search_button.click()

job_title = []
job_location = []
company_name = []
experience_required = []

# scraping Job title from the given page

title_tags=driver.find_elements(By.XPATH, '//div[@class ="jobCard_jobCard__jjUmu  white-box-border jobCard" or @class="jobCard_jobCard__jjUmu active white-box-border jobCard"]/div/h2/a') 
for i in title_tags:
    title=i.text 
    job_title.append(title)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements (By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text 
    experience_required.append(exp)



# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]') 
for i in location_tags:
    location=i.text 
    job_location.append(location)

# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span') 
for i in company_tags:
    company=i.text
    company_name.append (company)

print(len (job_title),len (job_location), len (company_name), len (experience_required))

    
df=pd.DataFrame ({'Job Title':job_title,'Location':job_location, 'Company_name' : company_name, 'Experience': experience_required})
df

20 20 20 20

,Job Title,Location,Company_name,Experience
0,Data Scientist Urgent Vacancy,Bangalore\n+13,kavya interprises,0 to 4 Yrs
1,Data Scientist Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
2,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
3,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
4,Data Scientist for Bangalore,Bangalore,get hired,0 to 3 Yrs
5,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
6,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...,2 to 4 Yrs
7,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
9,Data Scientist,Bangalore,ibm india pvt. limited,10 to 12 Yrs
10,Data Scientist- Associate,Bangalore,jpmorgan,4 to 6 Yrs
11,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
12,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
13,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
14,Data Scientist AI ML CV,Bangalore,bosch group,3 to 5 Yrs
15,Data Scientist AI ML NLP,Bangalore,bosch group,3 to 5 Yrs
16,Phd Data Scientist,Bangalore,bosch group,2 to 5 Yrs
17,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
18,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
19,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [75]:
import selenium 
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait

from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver = webdriver.Chrome()
driver.get("https://www.shine.com/new/job-search")

job_role = driver.find_element(By.CLASS_NAME, "form-control")
job_role.send_keys('Data Scientist')

search_button = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")

search_button.click()

search_location = driver.find_element(By.CLASS_NAME,"filter_filter_lists_items__wlFfo")
search_location.click()
time.sleep(2)

search_delhi = driver.find_element(By.CLASS_NAME,"filter_filter_option_label__v_iAW")
search_delhi.click()
time.sleep(2)

#sleep.time(2)

location = driver.find_element(By.XPATH,'//li[@class="pr-20 mb-15"]/input')
location.send_keys('Delhi')
time.sleep(2)

select_location = driver.find_element(By.CLASS_NAME,"styled-checkbox")
select_location.click()


time.sleep(3)
# I am struggling to add the wait time in my program , looks like it's not able to find the location 
# input tag because till the time location filter is opening my program finished it's execution and it's getting
# ElementClickInterceptedException  on click event for seleting Delhi checkbox

ElementClickInterceptedException: Message: element click intercepted: Element <input class="styled-checkbox" id="filter_jFLoc_406" type="checkbox" name="location" readonly="" value="406"> is not clickable at point (515, 221). Other element would receive the click: <label class="filter_filter_option_label__v_iAW" for="filter_jFLoc_406">...</label>
  (Session info: chrome=120.0.6099.71)
Stacktrace:
0   chromedriver                        0x00000001050444cc chromedriver + 4162764
1   chromedriver                        0x000000010503c654 chromedriver + 4130388
2   chromedriver                        0x0000000104c93bc0 chromedriver + 293824
3   chromedriver                        0x0000000104ce10b4 chromedriver + 610484
4   chromedriver                        0x0000000104cdf090 chromedriver + 602256
5   chromedriver                        0x0000000104cdcb58 chromedriver + 592728
6   chromedriver                        0x0000000104cdbb24 chromedriver + 588580
7   chromedriver                        0x0000000104ccf994 chromedriver + 539028
8   chromedriver                        0x0000000104ccf250 chromedriver + 537168
9   chromedriver                        0x0000000104d19ab0 chromedriver + 842416
10  chromedriver                        0x0000000104ccd6bc chromedriver + 530108
11  chromedriver                        0x0000000104cce930 chromedriver + 534832
12  chromedriver                        0x0000000105009df8 chromedriver + 3923448
13  chromedriver                        0x000000010500e3cc chromedriver + 3941324
14  chromedriver                        0x0000000104ff2028 chromedriver + 3825704
15  chromedriver                        0x000000010500ef2c chromedriver + 3944236
16  chromedriver                        0x0000000104fe46e4 chromedriver + 3770084
17  chromedriver                        0x000000010502b970 chromedriver + 4061552
18  chromedriver                        0x000000010502bae8 chromedriver + 4061928
19  chromedriver                        0x000000010503c2d4 chromedriver + 4129492
20  libsystem_pthread.dylib             0x0000000188e93fa8 _pthread_start + 148
21  libsystem_pthread.dylib             0x0000000188e8eda0 thread_start + 8

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

In [100]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")    #to open the Flipkart website

search = driver.find_element(By.XPATH, '//input[@class="Pke_EE"]')  #to Insert 'sunglasses' in search bar
search.send_keys('sunglasses')
close_pop_up  = driver.find_element(By.CLASS_NAME,'_30XB9F')   #to close login popup
close_pop_up.click()
search_button = driver.find_element(By.CLASS_NAME,'_2iLD__')  #to click on search button 
search_button.click()

start = 0
end = 3
brand = []
discription = []
price = []
discount = []
for page in range(start,end):  #to scrap brand names
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')              
    for i in brand_name :
        brand.append(i.text)
        
    #to scarp product description     
    product_discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')              
    for i in product_discription  :
        discription.append(i.text)
        
    #to scarp product price   
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')              
    for i in product_price  :
        price.append(i.text)
    #to scarp product discount    
    product_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')              
    for i in product_discount  :
        discount.append(i.text)
    
    #to click on next button 
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    
# creating a data frame
df = pd.DataFrame ({'Brand':brand ,'Price':price,'Discription':discription,'Discount':discount})
df

,Brand,Price,Discription,Discount
0,EBRACOLLECTION,₹123,"Night Vision, Riding Glasses, UV Protection, O...",87% off
1,PC STAR,₹225,"UV Protection, Riding Glasses Spectacle Sungla...",77% off
2,Fastrack,₹549,UV Protection Wayfarer Sunglasses (58),50% off
3,Fastrack,₹501,UV Protection Rectangular Sunglasses (Free Size),44% off
4,NuVew,₹69,"UV Protection, Mirrored Aviator Sunglasses (58)",92% off
...,...,...,...,...
115,Ray-Ban,"₹12,065",UV Protection Retro Square Sunglasses (58),25% off
116,AISLIN,₹645,"UV Protection Wayfarer, Rectangular Sunglasses...",70% off
117,AISLIN,₹675,UV Protection Oval Sunglasses (63),78% off
118,Roadster,₹352,UV Protection Oval Sunglasses (60),67% off
119,Ray-Ban,"₹8,308",UV Protection Aviator Sunglasses (58),20% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [77]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone%2011&sattr[]=color&sattr[]=storage&st=color") 
# above given URL was not working(page not found)so i searched for the Mentioned product manually and then copied this URL from there


start = 0
end = 10
rating = []
review = [] 
full_review = []
time.sleep(4)

all_review = driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
all_review.click()

time.sleep(3)

for page in range(start,end):
    product_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]') 
    for i in product_rating:
        rating.append(i.text)
    
    review_summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]') 
    for i in review_summary :
        review.append(i.text) 
        
    Full_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div[1]/div') 
    for i in  Full_review:
        full_review.append(i.text) 
   
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3" and span/text()="Next"]')
    next_button.click()
    time.sleep(4)
    
# creating a data frame    
    
df = pd.DataFrame ({'rating':rating,'Product review':review,'full review ':full_review})
df

,rating,Product review,full review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Perfect product!,Photos super
2,5,Brilliant,very good camera quality
3,5,Best in the market!,Good Camera
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
96,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Classy product,Outstanding performance this phone
99,3,Good,only the name worth it with d price.

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [17]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")    #to open the Flipkart website

search = driver.find_element(By.XPATH, '//input[@class="Pke_EE"]')   # to scrap the search bar  
search.send_keys('sneakers')   # to type 'sneakers' in to search bar

close_pop_up  = driver.find_element(By.CLASS_NAME,'_30XB9F')    # to close login popup
close_pop_up.click()

search_button = driver.find_element(By.CLASS_NAME,'_2iLD__')   # to click on search Button 
search_button.click()

# to scrap product brand,price,discription
# to scrap the data from first 3 pages
start = 0
end = 3
price = []
discription = []  # creating empty lists to Store the brand,price,discription data
brand = []
numberofItems = 0

while start <= numberofItems:  # while loop until it breaks on 100th element 
    
    #useing relative xpath to scrap multiple price elements
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
         
    for i in product_price  :
        if(len(price)<100): # on the single page it might have 40+ elements so check if length array reached to 100
            price.append(i.text)
            
    #useing relative xpath to scrap multiple  product discription  elements
    product_discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" or  @class="IRpwTa"]')    
    #Above element have 2 different class for descriptions element so used OR condition 
    for i in product_discription  :
        if(len(discription)<100):
            discription.append(i.text)
            
    #useing relative xpath to scrap multiple  brand names      
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')  
         
    for i in brand_name :
        if(len(brand)<100):
            brand.append(i.text)
            
    # to scrap the NEXT button 
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

    numberofItems = len(price)
    if(numberofItems >= 100):  # if number items more than 100 then break the loop 
        break
    else:
        next_button.click()
        time.sleep(3)

    
# creating a data frame    
    
df = pd.DataFrame ({'Price':price,'Product Description':discription,'Product Brand':brand})
df

     Price                                Product Description Product Brand
0     ₹406  Premium White Casual Shoes Sneakers For Men Sn...         BIRDE
1     ₹399  Megpar White New Stylish Look Comfortable Casu...        MEGPAR
2     ₹299  Trending Stylish Casual Outdoor Sneakers Shoes...      URBANBOX
3   ₹1,178  Puma Men White Black Colourblocked IDP Sneaker...          PUMA
4     ₹399                                 Sneakers For Women     Deals4you
..     ...                                                ...           ...
95    ₹347                                   Sneakers For Men          aadi
96  ₹4,600              Mirage Sport Asphalt Sneakers For Men          PUMA
97  ₹5,999                    RS-X Efekt PRM Sneakers For Men          PUMA
98  ₹3,300               RC1975 022 Corporate Casuals For Men     RED CHIEF
99    ₹999  Men's Fashion Sneakers Lace-Up Trainers Basket...         asian

[100 rows x 3 columns]

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [91]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")   

search_input = driver.find_element(By.XPATH,'//div[@class="nav-search-field "]/input')
search_input.send_keys('Laptop')
search_submit = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute" and @type="submit"]')
search_submit.click()

title = []
price = []
rating = []

# scraping Title from the given page
title_tags=driver.find_elements (By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')[1:11]
for i in title_tags:
    titleText=i.text 
    title.append(titleText)

# scraping Title from the given page
price_tags=driver.find_elements (By.XPATH, '//div[@class="a-section a-spacing-none a-spacing-top-micro puis-price-instructions-style"]/div/div/a/span')[1:11]
for i in price_tags:
    priceText=i.text 
    price.append(priceText)
#Could Not fetch the Rating of the product 

df = pd.DataFrame ({'Title':title,'price':price})
df

                                               Title    price
0  HP Laptop 15s, AMD Ryzen 5 5500U, 15.6-inch (3...  ₹39,800
1  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  ₹22,990
2  ASUS [SmartChoice] Vivobook 15, Intel Celeron ...  ₹26,990
3  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...  ₹38,990
4  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...  ₹44,990
5  Acer Aspire Lite 11th Gen Intel Core i3 Premiu...  ₹28,990
6  HP Laptop 15s, Intel Celeron, 15.6-inch (39.6 ...  ₹28,490
7  HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...  ₹32,390
8  Acer Aspire Lite AMD Ryzen 5 5500U Premium Thi...  ₹39,990
9  Dell 15 Vostro 3520 Laptop, Intel Core i3-1115...  ₹36,990

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. ClickonTopQuotes

In [110]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")  

top_qoutes = driver.find_element(By.XPATH,'//div[@class="mainmenu"]//ul/li/a[text()="Top Quotes"]')
top_qoutes.click()
time.sleep(1)

start = 0
title = []

numberofItems = 0

while start <= numberofItems:  # while loop until it breaks on 1000th element 
    
    #useing relative xpath to scrap multiple title elements
    qoute_title = driver.find_elements(By.XPATH,'//a[@class="title"]') 
         
    for i in qoute_title  :
        if(len(price)<1000): # on the single page it might have 1000+ elements so check if length array reached to 100
            title.append(i.text)
            
  
            
    # to scrap the NEXT button 
    try:
        next_button = driver.find_element(By.XPATH,'//li[@class="next"]')
    except NoSuchElementException:
        print("")


    numberofItems = len(title)
    if(numberofItems >= 900):  # Not able to skip the click event on next button and Next button not availble on last page so collecting 900 titles 
        break
    else:
        next_button.click()
        time.sleep(3)

    
# creating a data frame    
    
df = pd.DataFrame ({'Title':title})
df

                                                 Title
0    The essence of strategy is choosing what not t...
1    One cannot and must not try to erase the past ...
2    Patriotism means to stand by the country. It d...
3    Death is something inevitable. When a man has ...
4    You have to love a nation that celebrates its ...
..                                                 ...
895  To love means loving the unlovable. To forgive...
896  Be brave. Take risks. Nothing can substitute e...
897  If you really want to do something, you'll fin...
898  It is neither wealth nor splendor; but tranqui...
899  A thousand words will not leave so deep an imp...

[900 rows x 1 columns]