### 1)Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A)Rank
B) Name
C) Artist
D) Upload date 
E) Views

In [36]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')
driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")    
time.sleep(3)    

names =[]
uploaders =[]
views =[]
dates = []


try:
    video_names_elements = driver.find_elements (By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in video_names_elements :
        names.append(i.text)
    
    uploader_element = driver.find_elements (By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in uploader_element :
        uploaders.append(i.text)
    
    views_element = driver.find_elements (By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in views_element :
        views.append(i.text)      

    date_element = driver.find_elements (By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in date_element :
        dates.append(i.text)      
        
finally:
    driver.close()
    
print(len(names),len(uploaders),len(views),len(dates))
df = pd.DataFrame({'Video name':names,'Uploader':uploaders,"Views":views,"Date":dates})
df

30 30 30 30

,Video name,Uploader,Views,Date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.84,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.34,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.86,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.55,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.17,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.13,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.79,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.63,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.12,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.04,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.00,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.51,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.24,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,3.98,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.94,"May 31, 2013"
16,"""Roar""[41]",Katy Perry,3.93,"September 5, 2013"
17,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.90,"June 25, 2018"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.82,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.81,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.75,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.71,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.68,"January 26, 2018"
23,"""Dark Horse""[48]",Katy Perry,3.65,"February 20, 2014"
24,"""Perfect""[49]",Ed Sheeran,3.63,"November 9, 2017"
25,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,3.61,"May 10, 2011"
26,"""Let Her Go""[51]",Passenger,3.58,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.57,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.54,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.52,"March 22, 2015"

### 2) Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [114]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')
driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/")    
time.sleep(3)   

series_name = []
ground = []
city = []
date = []
time_note = []
try:
    fixture_page = driver.find_element(By.XPATH,'//a[contains(text(), "Fixtures")]')
    fixture_page.click()
    time.sleep(5)   
    more_button_elememt = driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches"]')
    more_button_elememt.click()

    fixture_name_element = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

    for i in fixture_name_element :
        series_name.append(i.text)
        
    fixture_ground_element = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[1]')
    fixture_city_element = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[2]')

    for i in fixture_ground_element :
        ground.append(i.text)
    
    for i in fixture_city_element :
        city.append(i.text)
    
    
    fixture_date_element = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')

    for i in fixture_date_element :
        date.append(i.text)
        
    
    
    fixture_time_note_element = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

    for i in fixture_time_note_element :
        time_note.append(i.text)
        
finally:
    driver.close()
    
print(len(series_name))
df = pd.DataFrame({'Series name':series_name,'Place':ground,'':city,'Date':date,'Time':time_note})
df

13

,Series name,Place,,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,",Mumbai,"2 JANUARY, 2024",8:00 AM GMT
1,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands,",Cape Town,"3 JANUARY, 2024",8:00 AM GMT
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"5 JANUARY, 2024",1:30 PM GMT
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"7 JANUARY, 2024",1:30 PM GMT
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium,",NAVI MUMBAI,"9 JANUARY, 2024",1:30 PM GMT
5,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",Mohali,"11 JANUARY, 2024",1:30 PM GMT
6,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",Indore,"14 JANUARY, 2024",1:30 PM GMT
7,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,",Bengaluru,"17 JANUARY, 2024",1:30 PM GMT
8,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium,",Hyderabad,"25 JANUARY, 2024",4:00 AM GMT
9,ENGLAND TOUR OF INDIA 2023-24,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",Visakhapatnam,"2 FEBRUARY, 2024",4:00 AM GMT
10,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",Rajkot,"15 FEBRUARY, 2024",4:00 AM GMT
11,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex,",Ranchi,"23 FEBRUARY, 2024",4:00 AM GMT
12,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,"7 MARCH, 2024",4:00 AM GMT

### 5)Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details: A) Song name
B) Artist name
C) Last week rank D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')
driver = webdriver.Chrome()
driver.get("https:/www.billboard.com/")    
time.sleep(3)   

accept_button = driver.find_element(By.ID,"onetrust-accept-btn-handler")
accept_button.click()

charts_button = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]")
charts_button.click()
time.sleep(6)  


view_chart_button = WebDriverWait(driver, 10).until(
    EC.element_to_be_clickable((By.XPATH, '//div[@class="lrv-u-flex lrv-u-align-items-center lrv-u-padding-t-2 lrv-u-padding-b-1 lrv-u-padding-t-150@mobile-max"]/div[2]/span/a'))
)


view_chart_button.click()
time.sleep(3)  


song_name = []
artist_name = []
lastweeke_rank = []
peak_rank = []
weeks_on_board_note = []

try:
   
    songname_element = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')      #to scrap name of laptop names        
    for i in songname_element:
        song_name.append(i.text)
    
    artist_element = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')      #to scrap name of laptop names        
    for i in artist_element:
        artist_name.append(i.text)
   
    lastweeke_rank_element = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span')      #to scrap name of laptop names        
    for i in lastweeke_rank_element:
        lastweeke_rank.append(i.text)
        
    peak_rank_element = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')      #to scrap name of laptop names        
    for i in peak_rank_element:
        peak_rank.append(i.text)
    
    weeks_on_board_note_element = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')      #to scrap name of laptop names        
    for i in weeks_on_board_note_element:
        weeks_on_board_note.append(i.text)
    

finally:
    driver.close()

print(len(song_name),len(artist_name),len(lastweeke_rank),len(peak_rank),len(weeks_on_board_note_element))
df = pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':lastweeke_rank,'Peak Rank':peak_rank,'weeks on board note':weeks_on_board_note})
df

100 100 100 100 100

,Song Name,Artist Name,Last Week Rank,Peak Rank,weeks on board note
0,Rockin' Around The Christmas Tree,Brenda Lee,2,1,58
1,All I Want For Christmas Is You,Mariah Carey,1,1,65
2,Jingle Bell Rock,Bobby Helms,3,3,56
3,Last Christmas,Wham!,4,4,38
4,A Holly Jolly Christmas,Burl Ives,5,4,39
...,...,...,...,...,...
95,El Amor de Su Vida,Grupo Frontera & Grupo Firme,-,68,16
96,Standing Next To You,Jung Kook,79,5,8
97,Man Made A Bar,Morgan Wallen Featuring Eric Church,-,15,14
98,Que Onda,Calle 24 x Chino Pacas x Fuerza Regida,98,61,13
99,Great Gatsby,Rod Wave,99,30,14

### 6)  Scrape the details of Highest selling novels.
A) Book name B) Author name C) Volumes sold D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [66]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")    
time.sleep(3)    


book_name =[]
author_name =[]
volumes_sold =[]
publisher  = []
genre = []

try:
    title = driver.find_elements (By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in title :
        book_name.append(i.text)
        
    author_name_elements = driver.find_elements (By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_name_elements :
        author_name.append(i.text)
        
    volumes_sold_element = driver.find_elements (By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold_element :
        volumes_sold.append(i.text)
        
    publisher_element = driver.find_elements (By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_element :
        publisher.append(i.text)
        
    genre_element = driver.find_elements (By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_element :
        genre.append(i.text)

    
finally:
    driver.close()
    
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))
df = pd.DataFrame({'Name':book_name,'Author':author_name,'volumes sell':volumes_sold,'Publisher':publisher,'Genre':genre})
df

100 100 100 100 100

,Name,Author,volumes sell,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 4) Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description C) Contributors count
D) Language used
5.
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings


warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get("https://github.com/")  
time.sleep(3)

menu = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")

open_sourse_menu = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
actions = ActionChains(driver)
actions.move_to_element(open_sourse_menu).perform()
time.sleep(1)  

trending_element = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending_element.click()
time.sleep(2)  


repository_title = []
repository_description = []
contributors_count = []
langauge_used = []
try:
    title_element = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')              

    for i in title_element :
        repository_title.append(i.text)

    parent_element = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')
    for i in parent_element :
        try:
            p_tags = i.find_element(By.XPATH, './/p')
            repository_description.append(p_tags.text)
           
        except NoSuchElementException as e:
            repository_description.append("No description available")
            
    contributors_element = driver.find_elements(By.XPATH,'//article[@class="Box-row"]//div[@class="f6 color-fg-muted mt-2"]//a[@class="Link Link--muted d-inline-block mr-3"][1]')      #to scrap name of laptop names        

    for i in contributors_element :
        contributors_count.append(i.text)
        
    for i in parent_element :
        try:
            langauge = i.find_element(By.XPATH, './/span[@itemprop="programmingLanguage"]')
            langauge_used.append(langauge.text)
        except NoSuchElementException as e:
            langauge_used.append("No Langauge")

finally:
    driver.close()   
print(len(repository_title),len(repository_description),len(contributors_count),len(langauge_used))
df = pd.DataFrame({'Title':repository_title,'Description':repository_description,'Contributors':contributors_count,'langauge':langauge_used})
df

25 25 25 25

,Title,Description,Contributors,langauge
0,mlabonne / llm-course,Course to get into Large Language Models (LLMs...,"7,302",Jupyter Notebook
1,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"240,211",Python
2,KRTirtho / spotube,🎧 Open source Spotify client that doesn't requ...,"9,173",Dart
3,myshell-ai / OpenVoice,Instant voice cloning by MyShell. Join our Dis...,"1,655",Python
4,movie-web / movie-web,A small web app for watching movies and shows ...,"12,897",TypeScript
5,tyxsspa / AnyText,No description available,"1,098",Python
6,AntonioErdeljac / next-auth-v5-advanced-guide,No description available,195,TypeScript
7,thelastoutpostworkshop / gpio_viewer,GPIOViewer Arduino Library to see live GPIO Pi...,287,C++
8,anoma / namada,"Rust implementation of Namada, a Proof-of-Stak...","2,134",Rust
9,janhq / jan,Jan is an open source alternative to ChatGPT t...,"1,577",TypeScript
10,DLYuanGod / TinyGPT-V,TinyGPT-V: Efficient Multimodal Large Language...,310,Python
11,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"380,621",TypeScript
12,twentyhq / twenty,"Building a modern alternative to Salesforce, p...","7,242",TypeScript
13,firefly-iii / firefly-iii,Firefly III: a personal finances manager,"12,209",PHP
14,UdaraJay / Pile,Desktop app for digital journaling.,885,JavaScript
15,lllyasviel / Fooocus,Focus on prompting and generating,"27,378",Python
16,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,"27,474",C++
17,Koenkk / zigbee2mqtt,"Zigbee 🐝 to MQTT bridge 🌉, get rid of your pro...","10,440",JavaScript
18,tailcallhq / tailcall,A high-performance no-code GraphQL backend,421,Rust
19,ublue-os / bazzite,Bazzite is an OCI image that serves as an alte...,"1,711",Shell
20,commaai / openpilot,openpilot is an open source driver assistance ...,"45,121",Python
21,tiann / KernelSU,A Kernel based root solution for Android,"5,728",Kotlin
22,dvmazur / mixtral-offloading,Run Mixtral-8x7B models in Colab or consumer d...,"1,106",Python
23,jordan-cutler / path-to-senior-engineer-handbook,All the resources you need to get to Senior En...,"5,303",No Langauge
24,darktable-org / darktable,darktable is an open source photography workfl...,"8,332",C

### 8) Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings


warnings.filterwarnings('ignore')

driver = webdriver.Chrome()
driver.get(" https://archive.ics.uci.edu/")  
time.sleep(3)

accept_TC = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button')
accept_TC.click()

view_dataset_element= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/footer/div[3]/a[2]')
actions = ActionChains(driver)
actions.move_to_element(view_dataset_element).perform()

view_dataset_element.click()

time.sleep(1)

expand_all_element = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_all_element.click()

start = 0
end = 67

dataset_name = []
data_type = []
task = []
attribute_type = []
no_of_instances = []
no_of_attribute = []
year = []
for page in range(start,end):
    dataset = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]') 
    for i in dataset:
        dataset_name.append(i.text)
    
    data_type_element = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span') 
    for i in data_type_element:
        data_type.append(i.text)
        
    task_element = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span') 
    for i in task_element:
        task.append(i.text)
        
    attribute_type_element = driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]') 
    for i in attribute_type_element:
        attribute_type.append(i.text)
        
    instances_element = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span') 
    for i in instances_element:
        no_of_instances.append(i.text)
        
    attribute_no = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span') 
    for i in attribute_no:
        no_of_attribute.append(i.text)
        
    year_element = driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]') 
    for i in year_element:
        year.append(i.text)
    
    time.sleep(2)    
next_button = driver.find_element(By.XPATH, '//button[@class="btn-primary btn-sm btn"][2]')
next_button.click()
time.sleep(2)
    
print(len(dataset_name),len(data_type),len(task),len(attribute_type),len(no_of_instances),len(no_of_attribute),len(year))

df = pd.DataFrame({'Name':dataset_name,'Data type':data_type,'Task':task,'Attribute type':attribute_type,'Instances':no_of_instances,'No of attribute':no_of_attribute,'Year':year})
df

670 670 670 670 670 670 670

,Name,Data type,Task,Attribute type,Instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
...,...,...,...,...,...,...,...
665,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
666,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
667,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
668,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
669,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997

### 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details: A) Name
B) Year span
C) Genre
D) Run time E) Ratings F) Votes

In [ ]:
# Above page is not exist and it's giving 404 error

### 3) Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [ ]:
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

warnings.filterwarnings('ignore')
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")    
time.sleep(3)   


termsandconditions = driver.find_element(By.XPATH,'//a[@class="cc-btn cc-dismiss"]')
termsandconditions.click()

economy = driver.find_element(By.XPATH,'//button[contains(text(), "Economy")]')
actions = ActionChains(driver)
actions.move_to_element(economy).perform()
time.sleep(1)  



economy_india_element =  driver.find_element(By.XPATH,'//button[contains(text(), "Economy")]/following-sibling::div//a[contains(text(), "India")]')
economy_india_element.click()
time.sleep(5)

indian_states_button = driver.find_element(By.XPATH,'//a[contains(text(), "GDP of Indian states")]')
indian_states_button.click()
time.sleep(3)

agreeTnC_button = driver.find_element(By.XPATH,'//button[@class=" css-47sehv"]')
agreeTnC_button.click()

rank = []
state = [] 
GSDP_18_19 = []
GSDP_19_20 = [] 
Share_18_19 = []
GDP_billion =[]


# not able to proceed further in this question because i am not able to close google ads through code 
# also data for year 18-19 is not present on the page